body {
	background: rgb(255, 255, 255);
	font-size: 16px;
	margin: 10px 0 10px 0;
	font-family: 'Lato', sans-serif !important;
} 

a {
	color: rgb(0, 0, 0) !important;
	text-decoration: none !important;
}

li {
	list-style: none;
}

nav {
	clear: both;
}

/* GENERAL */

#footer {
	margin: 100px 0 30px 0;
}

#container {
	width: 1000px;
	margin: 0px auto;
}

.icon-div-inline {
	display: inline-block;
}

.page-title {
	display: none;
	margin: 10px 0 0 0;
	font-weight: bold;
}

.page-content {
	margin: 30px 0 0 0;
}

.page-desc {
	margin: 0 0 30px 0;
}

.awesome-icon-big {
	width: 40px;
	vertical-align: middle;
}

.page-subheader {
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 20px;
}

/**********/

/* NAVIGATION */

#nav-container {
	width: 100%;
	margin-top: 40px;
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px solid orange;
}

#name {
	float: left;
	font-size: 30px;
}

#nav {
	position: absolute;
	right: 0;
	bottom: 18px;
}

#nav ul {
	text-align: right;
	font-size: 14px;
	z-index: 2;
}

#nav li {
	display: inline-block;
	margin: 0 10px 0 10px;
}

#nav li:last-child {
	margin-right: 0;
}

#nav a:hover {
	cursor: pointer;
}

#nav .current {
	font-weight: 700;
}

#menu-icon {
	display: none;
}

/***************/

/* HOME PAGE */

#intro {
	font-family: 'Cousine', monospace;
}

#intro h1 {
	margin: 0 0 10px 0;
	font-size: 20px;
}

#intro h2 {
	font-size: 19px;
}

#intro-description {
	margin-top: 30px;
	max-width: 800px;
}

#me p {
	margin-bottom: 30px;
	line-height: 200%;
}

#me p i {
	margin: 0 5px 0 5px;
}

#me .peace-icon {
	color: rgba(0, 0, 0, 0.7);
}

/*************/

/* PROJECTS PAGE */

#project-footer {
	position: relative;
}

#github-link {
	display: inline-block;
	position: absolute;
	margin: 0 0 0 20px;
	top: 30%;
}

#github-link a {
	text-decoration: underline !important;
}

#projects {
	padding: 0 0 40px 0;
}

/*****************/


/* CONTACT PAGE */

.contact-item {
	margin-bottom: 20px;
}

.icon-text {
	margin-left: 20px;
}

#email a:hover {
	text-decoration: underline;
}

/**************/


/* RESUME PAGE */

#work li, #work p, #academics p {
	line-height: 150%;
}

#resume-container section {
	clear: both;
	display: block;
	margin: 40px 0;
}

#resume-container section:first-child {
	margin: 0;
}

#courses li {
	padding: 5px 0;
}

.work-experience {
	margin: 0 0 30px 0;
}

.work-experience:last-child {
	margin: 0;
}

.job-title {
	margin: 10px 0;
}

.list-point {
	width: 30px;
}

#pdf-version {
	float: right;
	margin-bottom: 30px;
	width: 270px;
	text-align: center;
}

#pdf-version > span {
	margin-left: 10px;
}

.skill-section {
	min-width: 200px;
	margin: 0 20px 0 0;
	display: inline-block;
	vertical-align: top;
}

.skill-section li {
	padding: 4px 0;
}

.skill-section > header {
	font-size: 17px;
	font-weight: bold;
	margin: 0 0 10px 0;
}

/*************/


/*********** MEDIA QUERIES ***********/

/* ----------- Non-Retina Screens ----------- */
@media (min-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  	body {
  		font-size: 17px;
  	}
}

@media (max-width: 1050px) {
	#container {
		width: 800px;
	}

	.desc {
		width: 45%;
	}
}

@media (max-width: 850px) {
	#container {
		width: 600px;
	}

	.desc {
		margin: 20px 0 0 0;
		width: 90%;
	}

	#name {
		float: none;
		text-align: center;
	}

	#nav {
		position: static;
		margin: 10px 0 0 0;
	}

	#nav ul {
		text-align: center;
	}

	.skill-section {
		min-width: 170px;
	}
}

@media (max-width: 650px) {
	#container {
		width: 500px;
	}

	.skill-section {
		min-width: 140px;
		margin-bottom: 30px;
	}

	.last-skill {
		margin: 0;
	}
}

@media (max-width: 550px) {
	#container {
		width: 450px;
	}

	#name {
		float: left;
	}

	#nav {
		display: none;
		position: relative;
	}

	#nav ul {
		border: 1px solid black;
		background: rgb(255, 255, 255);
		width: 150px;
		text-align: center;
		position: absolute;
		right: 0;
		border-radius: 3px;
		top: 35px;
	}

	#nav li {
		width: 100%;
		margin: 10px 0 10px 0;
	}

	#menu-icon {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 6%;
	}

	.page-title {
		display: block;
	}

	.skill-section {
		min-width: 120px;
	}
}

@media (max-width: 500px) {
	#container {
		width: 415px;
	}
}

@media (min-width: 551px) {
	#nav {
		display: block;
	}
}

@media (max-width: 430px) {
	#container {
		width: 90%;
	}
}

@media (max-width: 414px) and (orientation: portrait) {
	#nav-container {
		margin: 20px 0 0 0;
		position: relative;
	}

	#name {
		float: left;
	}

	#name a {
		font-size: 20px;
	}

	#intro {
		font-size: 0.7em;
	}

	.skill-section {
		min-width: 100px;
	}
}