<div id="nav-container">
	<div id="name">
		<p class="{% if page.url == '/' %}hide{% endif %}"><a href="/">NEIL TSEA CHIN MING</a></p>
	</div>
	<nav>
		<div id="menu-icon">
			<i class="fa fa-list fa-2x" aria-hidden="true"></i>
		</div>
		<div id="nav">
			<ul>
				<li><a class="{% if page.url == '/' %}current{% endif %}" href="./">HOME</a></li>
				<li><a class="{% if page.url == '/resume' %}current{% endif %}" href="./resume">RESUME</a></li>
				<!--<li><a class="{% if page.url == '/portfolio' %}current{% endif %}" href="./portfolio">PORTFOLIO</a></li>-->
				<li class="last {% if page.url == '/contact' %}current{% endif %}"><a href="./contact">CONTACT</a></li>
			</ul>
		</div> 
	</nav>
</div> 

<script>
$( document ).ready(function() {
    $('#menu-icon').on('click', function() {
    	if ($('#nav').css('display') === 'none') {
    		$('#nav').css('display', 'block');
    	} else {
    		$('#nav').css('display', 'none');
    	}
    });

    $( window ).resize(function() {
    	var width = window.innerWidth || document.body.clientWidth;
    	if (width > 550) {
   			$('#nav').css('display', 'block');
    	} else {
    		$('#nav').css('display', 'none');
    	}
	});
});
</script>